<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body onload="getMovies()">

    <% include ../partials/nav %>

    <% include ../partials/carousel %>

    <script>
        function getMovies(){
            //alert("help3");
            var mysql = require('mysql');
            alert("help4");
            var connection = require('.../app/connection');

            alert("help2");
            var sqlCon = mysql.createConnection(connection);
            var query = "SELECT * FROM MOVIE";

            alert("help");
            sqlCon.query(query, function(err,res){
                alert("fuck");
                if(err){
                    alert("help");
                    throw err;
                }
                console.log(res[0]);
                alert(res[0])
            });

            alert("help");
        }
    </script>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- FIRST ROW --------------------->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>
                            <script>
                                document.write(Date());
                            </script>
                        </h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#book-ticket">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #2</h3>
                        <p>Movie Summary</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #3</h3>
                        <p>Movie Summary</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <!-- SECOND ROW --------------------->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #4</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #5</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #6</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <!-- THIRD ROW --------------------->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #7</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Movie #8</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Book Ticket</a>
                            <a href="#" class="btn btn-default" role="button">Reviews</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption" onload="">
                        <h3>Movie #9</h3>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Button</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 CPSC 471 Group 13 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

    </div><!-- /.container -->



    <% include ../partials/bookticket %>

    <% include ../partials/movieDetail %>

    <% include ../partials/foot %>

</body>
</html>

