<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../../../public/views/partials/head %>

    <title>Cinema Statistics</title>

    <% include ../partials/admin_resources_head %>

</head>
<body>

<div id="wrapper">


    <% include ../../../public/views/partials/nav %>

    <% include ../partials/sidebar %>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Statistical Display</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>








</div>

<% include ../../../public/views/partials/foot %>

<% include ../partials/admin_resources_foot %>

</body>
</html>