<!-- Navbar
================================================== -->
<div class="navbar navbar-static-top"<% if (locals.adminPanel) { %>style="height: 50px"<% } %>>
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" <% if (locals.adminPanel) { %>style="margin-top: 10px"<% }%>>CinemaManager</a>
            <div class="navbar-collapse">
                <ul class="nav pull-right">
                    <% if (locals.user) { %>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" <% if (locals.adminPanel) { %>style="padding-top: 15px; padding-bottom: 15px"<% }%>>
                            <span class="glyphicon glyphicon-user" id="loginGlyph" aria-hidden="true"> <%= user.FNAME + "" + user.LNAME %><span class="caret"></span></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="signout">Sign Out</a></li>
                                <% if (locals.user.SSN) { %>
                                    <li><a href="admin">Admin Panel</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">View Profile</a></li>
                                <% } else { %>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">View Profile</a></li>
                                    <li><a href="movies">Book Movie</a>
                                <% } %>
                            </ul>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login-reg">
                            <span class="glyphicon glyphicon-user" id="loginGlyph" aria-hidden="true"> Login/SignUp</span></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>